# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
cloud.auto.tfvars
vm.auto.tfvars

#key
key.json
.env

